* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    font-family: "Poppins", sans-serif;
}
.top-header{
    width: 100%;
    height: 48px;
    font-family: "Poppins", sans-serif;
    color:#ffffff;
    background-color: #000000;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.title-topheader{
    font-weight: 300;
    size:14px;
    line-height: 21px;
}
.Shopnow-header{
    margin-left: 15px;
    color: #ffffff;
}
.right-topheader{
    display: flex;
    text-align: center;
    justify-content: center;
    img{
        margin-left: 5px;
        cursor: pointer;
    }
}
.right-topheader span{
    font-weight: 300;
}
.header-wrapper {
    border-bottom: 1px solid #e5e5e5;
}
.header{
    margin: 40px 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:250px;
}
.logo{
    font-weight: 700;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: bold;
    line-height: 24px;
    letter-spacing: 3%;
}
.content-box{
    display:flex;
    align-items: center;
    gap: 80px;
    a{
        color: #000000;
        text-decoration: none;
    }
}

.search-box{
    display:flex;
    align-items: center;
    justify-content: space-between;
    gap:20px;
    position: relative;
}
.search-box input{
    width: 260px;
    padding: 10px 40px 10px 15px;
    border-radius: 6px;
    border: none;
    background-color: #f5f5f5;
    font-size: 14px;
    outline: none;
}
.search-box > img{ 
    position: absolute;
    right: 110px;
    width: 25px;
    cursor: pointer;
}
.search-box div {
    display: flex;
    gap:18px;
    align-items: center;
}
.search-box div img {
    width: 30px;
    cursor: pointer;
}
.container{
     margin: 0px 135px;
     display:flex;

}
.menu{
    width: 217px;
    height: 384px;
    display:flex;
    flex-direction: column;
    gap: 13px;
    border-right: 1px solid #e5e5e5;
    padding-right: 20px;
    padding-top:40px;
    a {
        text-decoration: none;
        color: #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
    }
    
}
.menu div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner {
    gap:20px;
    padding-top:58px;
    padding-left:  64px;
    flex:1;
    margin-top: 40px;
    height: 344px;
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    position: relative;
    p{
        color: #ffffff;
    }
}
.Ip14-Series{
    display:flex;
    align-items: center;
    gap: 24px;
    p{
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
}
.Iphone-img{
    position: absolute;
    width: 496px;
    height: 328px;
    top:16px;
    left: 505px;
}
.Voucher{
    width: 294px;
    height: 120px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}
.Shop-now{
    display: flex;
    text-align: center;
    gap: 11.5px;
    p{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
    }
}
